*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
.site-header{
    width: 1320px;
    display: flex;
    justify-content:space-between;
    
}
.site-header-img-box{
    width: 176px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 60px; */
}  


.navigation-list{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    Font-size: 20px;
    Line-height: 30px;
    color: #222222;
    display: inline-block;
}
.active{
    /* margin-right: 60px; */
}

.hero-img{
    background-image: url(../img/IMAGE\ \(1\).svg);
    margin-bottom: 120px;
}
.home-title{
    width: 500px;
    Font-size: 40px;
    Line-height: 56px;
    color:#242F65;
    margin-top: 120px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.home-text{
    width: 803px;
    Font-size: 20px;
    Line-height: 30px;
    color: #525665;
    margin: 0 auto;
    margin-bottom: 60px;
}
.hero-content{
    display: flex;
}

.hero-title{
    width: 342px;
    Font-size: 40px;
    Line-height: 56px;
    color:#242F65;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top: 120px;
}
.hero-text2{
    width: 884px;
    Font-size: 20px;
    Line-height: 30px;
    color: #525665;
    margin: 0 auto;
    margin-bottom: 60px;
}

.hero-img-box{
    width: 645px;
    margin-right: 25px;
}

.hero-text{
    width: 236px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:#242F65;
    margin: 0 auto;
    margin-bottom: 110px;
}
.studies-title{
    width: 436px;
    Font-size: 40px;
    Line-height: 56px;
    color:#242F65;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 10px;
}
.studies-text{
    width: 769px;
    Font-size: 20px;
    Line-height: 30px;
    color:#525665;
    margin: 0 auto;
    margin-bottom: 60px;
}
.studies-img-box{
    width: 645px;
    margin-right: 30px;
}

.active2{
    width: 297px;
}
.active3{
    width: 327px;
    margin-bottom: 110px;
}
.studies{
    width: 1440px;
    background-image: url(../img/Rectangle.png);
    margin: 0 auto;
}
.page-text{
    width: 118px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:#242F65;
    margin: 0 auto;
}

.page-text2{
    width: 68px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:#242F65;
    margin: 0 auto;
    margin-bottom: 86px;
}
.blog-text{
    width: 141px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:#242F65;
    margin: 0 auto;
}
.blog-text2{
    width: 137px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:#242F65;
    margin: 0 auto;
    margin-bottom: 110px;
}
.page-text3{
    width: 192px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:white;
    margin: 0 auto;
    margin-bottom: 86px;
}
.page-text4{
    width: 144px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:white;
    margin: 0 auto;
    margin-bottom: 86px;
}
.page-text5{
    width: 193px;
    Font-size: 25px;
    Line-height: 37.5px;
    color:white;
    margin-left: 240px;
    padding-bottom: 110px;
    margin-bottom: 110px;
}

.pages{
    /* width: 1440px; */
    background-image: url(../img/Rectangle.svg);
}
.pages-title{
    width: 250px;
    Font-size: 40px;
    Line-height: 56px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 144px;
}
.pages-text{
    width: 893px;
    Font-size: 20px;
    Line-height: 30px;
    color:#FFFFFF;
    margin: 0  auto;
    margin-bottom: 60px;
}
.ready-content{
    width: 1320px;
    background-image: url(../img/bckimg.png);
    display: flex;
    margin-bottom: 100px;
}
.get-img{
    width: 527px;
    margin-left: 60px;
    padding-top: 121px;
    margin-bottom: 70px;
    margin-right: 29px;
}
.brooklin-img{
    width: 637px;
    padding-top:40px;
}
.site-footer{
   background-image: url(../img/footer2.png);
}
